.root {
	-fx-background-image: url("../images/pr-background.jpeg");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;
	-fx-background-size: auto 100%;
}

.registration-form{
	-fx-background-color: rgba(255, 255, 255, 0.75);
}

.title-head {
	-fx-font-size: 32px;
	-fx-font-weight: bold;
	-fx-font-family: "Knife Fight Ballet";
}

.form-label{
	-fx-font-family: "Knife Fight Ballet";
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

.start-game-button {
	-fx-background-color: rgba(52, 152, 219, 0.75);
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-font-family: "Knife Fight Ballet";
	-fx-text-fill: rgba(255, 255, 255, 0.75);
}

.radio-button {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
}

.radio-button .radio {
}
